@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: poppins, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

}
.creative-text{
  color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #FCF300;
    font-family: poppins;
    font-size: 80px;
}
/* Hide scrollbar but keep scroll working */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
