@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: poppins, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);

}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
.creative-text{
  color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #FCF300;
    font-family: poppins;
    font-size: 80px;
}
/* Hide scrollbar but keep scroll working */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
